html {
  text-align: center;
}

body {
  display: inline-block;
  padding-top: 15px;
  background-image: url("./background_weatherapp.jpeg");
  background-repeat: no-repeat;
  background-color: rgb(223, 69, 94, 0.5);
  background-size: 100%;
}

.Weather {
  background-color: rgba(148, 14, 70, 0.7);
  padding: 15px;
  width: 100%;
}

.container {
  border-radius: 10px;
  color: white;
}

.search-input {
  width: 58%;
  height: 26px;
  border-radius: 4px;
  border-color: rgb(238, 109, 163);
  right: 30px;
  position: relative;
  left: 100px;
}

.search-button {
  background: rgb(238, 109, 163);
  text-align: center;
  height: 26px;
  width: 30px;
  border: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  position: relative;
  left: 100px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.city {
  font-size: 50px;
}

.todayDate {
  text-align: center;
  line-height: 1.5;
}

.sunrise-sunset {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.temperature-settings .active {
  cursor: default;
}

.temperature-settings .active:hover {
  text-decoration: none;
}

.current-temperature {
  font-size: 100px;
  font-weight: normal;
  margin-left: 40px;
  color: rgb(59, 2, 26);
}

.units {
  font-size: 28px;
  vertical-align: 122%;
  color: rgb(59, 2, 26);
  font-weight: bold;
}

.unitsLink {
  color: rgb(238, 109, 163);
  text-decoration: underline;
}

.iconImage {
  float: right;
  margin-top: -160px;
  margin-right: 70px;
  width: 100px;
  height: 100px;
}

.text-capitalize {
  font-size: 30px;
  float: right;
  margin-right: 90px;
  margin-top: -60px;
}

.updated {
  font-size: 13px;
  width: 50px 10px;
  margin-left: 30px;
  margin-top: 150px;
}

.parameters {
  padding: 10px 10px;
  border: 2px dotted rgb(240, 197, 215);
  text-align: center;
  width: 100%;
}

.weather-forecast-temperature {
  font-size: 12px;
}

.forecast-icons {
  width: 60px;
}

.forecast-for-3hours {
  text-align: center;
}

.weather-forecast-temperature {
  text-align: center;
}

.link-github {
  color: black;
  text-decoration: underline;
}

.open-source {
  font-size: 15px;
}

.App footer {
  font-size: 15px;
  color: white;
  background-color: blueviolet;
  font-style: italic;
}
